/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


  
/* Estilo para el contenedor */
.container {
    width: 100%;            /* Ancho completo */
    height: 35px;          /* Altura del div principal */
    position: relative;     /* Posición relativa para contener el hijo */
    overflow: hidden;       /* Oculta la parte del div en movimiento */
  }
  
  /* Gradientes de difuminado en los extremos */
  .container::before,
  .container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50px;           /* Ancho del difuminado en los extremos */
    height: 100%;
    z-index: 1;             /* Asegura que esté sobre el div en movimiento */
    pointer-events: none;   /* Permite clics a través del difuminado */
  }
  
  /* Estilo para el div que se mueve */
  .moving-box {
    width: 60%;             /* Ancho al 50% del contenedor */
    height: 100%;           /* Altura completa del contenedor */
    background: #274a89;      /* Fondo del div en movimiento */
    position: absolute;     /* Posición absoluta para la animación */
    animation: slide 1.5s linear infinite; /* Animación de 3s en bucle */
  }
  
  @keyframes slide {
    100% {
      transform: translateX(140%); /* Comienza desde fuera a la derecha */
    }
    0% {
      transform: translateX(-140%); /* Se mueve hacia fuera a la izquierda */
    }
  }
  

  